body {
    background-color: #262626;
   
}

h1 {
    background-color: #191d1da2;
    color: #e4e4e4;
    font-size: 50px;
    font-style: arial;
    margin: 60px;
    text-align: center;
    
}
h2 {
    text-align: center;
}
iframe {
    display:block;
    margin:auto;
}
p{

    font-size: 18px;
    font-family: serif;
    font-style: serif;
}


.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    }
.titlecenter {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 400px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        background-color: #191d1da2;
        color: white;
        }
    .column {
        flex: 3;
        padding: 15px;
        margin-top: 0;
    }
    
    @media (max-width: 600px) {
    .column {
        flex: 100%; 
    }
  
    }

.boton {
    text-align: center;
    background-color: #191d1da2;
    border: 2px solid #191d1da2;
    margin: 6em;
    padding: 5px;
   

}

form {
    background-color: #191d1da2;
    padding: 8px;

}
.myForm {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 400px;
    padding-left: 450px;
    padding-right: 457px;
}
input {
    background-color: #191d1da2;
    border: none;

}

.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: #191d1da2;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.brand {
    display: flex;
    align-items: center;
}
li>a {
    padding: 8px 24px;
}
li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
.nav-links {
    display: flex;
    align-items: center;
}
.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .myForm {
        padding-left: 2px;
        padding-right: 2px;
    }
    .nav-links {
        display: none;
    }
    .button-menu-toggle {
        display: block;
        background-color: rgba(255, 255, 255, 0.589);
        border: 2px solid black;
        border-radius: 50%;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }
    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: #191d1da2;
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }
}


li:hover {
    color: #cdcdcd;
    box-shadow: 0 0 32px var(--clr);
    border-top: 1px solid #0051ff;
    transition: 0.8s;
}

li::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0051ff;
    transform-origin: tranform 0.5.s ease-out; 
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.4s all ease;
}
.inputAnim {
    position: relative;
    width: 250px;
}
.inputAnim input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #191d1da2;
    border-radius: 5px;  
    outline: none;
    color: #fff;
    font-size: 1em;
}
.inputAnim span {
 position: absolute;
 left: 0;
 top: 0px;
 padding: 10px;
 pointer-events: none;
 font-size: 1em;
 color: rgba(255, 255, 255, 0.25);
 text-decoration: none;
 text-transform: uppercase;
 box-shadow: 0 0 32px none;
 transition: 0.5s;
}
.inputAnim input:valid ~ span,
.inputAnim input:focus ~ span {
    color: #0051ff;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right:1px solid rgba(255, 255, 255, 0.25);
    background-color: #1f1f1e;
}
input:hover {
    box-shadow: 0 0 32px var(--clr);
    transition: 0.8s;
}
button {
    background-color: #191d1da2;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin:auto;
    color: white;
    border-radius: 5px;
    padding: 6px;
    transition: 0.5s;
    }
    button:hover {
        background: var(--clr);
        letter-spacing: 0.25em;
        background-color: #0051ff ;
        box-shadow: 0 0 32px var(--clr);
    }
    h2:hover {
        box-shadow: 0 0 32px var(--clr);
        transition: 1s;
    }